.project-name-container{
    display: flex;
    justify-content: space-between;
}

#project-name {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    padding: 0 .4rem 0 .4rem;
}

#project-name:focus {
    border: 1px solid #3A57E8;
    outline: none;
}

.error-container{
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
}