.user-menu  li{
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
}

.link{
    cursor: pointer;
}

#profile-logo, #user-message, #user-mesasges-counter{
    cursor: pointer;
}

#user-message{
    margin-right: 3vmax;
}

#user-mesasges-counter{
    display: flex;
    position: absolute;
    left: 22.5%;
    top: 20%;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 1px 6px;
}